{% load static %}

<html xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <title>Storage Optimizer</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/themify-icons.css' %}"/>
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
  </head>
  <body>
	<button onclick="topFunction()" id="topBtn" title="Go to top">Top</button>
    <div class="container">
	  	<div class="header-title">Drive Space Saver</div>
	    <center><div class="header-subtitle">Save drive space by removing the duplicated files</div></center>
		<form action="/drive" method="post">
			<div class="checkboxes">
			  <input class="form-switch" type="checkbox" name="switchCheckVideos" id="switchCheckVideos" value="True" {% if videos_flag == 1 %} checked{% endif %}>
			  <label class="form-check-label" for="switchCheckVideos">Removing duplicated files in Videos</label>
			</div>
			<div class="checkboxes">
			  <input class="form-switch" type="checkbox" name="switchCheckImages" id="switchCheckImages" value="True" {% if images_flag == 1 %} checked{% endif %}>
			  <label class="form-check-label" for="switchCheckImages">Removing duplicated files in Images</label>
			</div>
			<div class="checkboxes">
			  <input class="form-switch" type="checkbox" name="switchCheckPdfs" id="switchCheckPdfs" value="True" {% if pdfs_flag == 1 %} checked{% endif %}>
			  <label class="form-check-label" for="switchCheckPdfs">Removing duplicated files in Pdfs</label>
			</div>
			<div class="row">
				<div class="col text-center">
					{% csrf_token %}
					<button type="submit" class="btn btn-lg btn-success btn-optimize" id="optimizeBtn">Find Duplicates</button>
				</div>
			</div>
		</form>
	</div>

	<!-- https://tobiasahlin.com/spinkit/ -->
	<div class="spinner" style="display:none;" id="spinnerDiv">
	  <div class="rect1"></div>
	  <div class="rect2"></div>
	  <div class="rect3"></div>
	  <div class="rect4"></div>
	  <div class="rect5"></div>
	</div>

	{% if videos_grid == 1 %}
		<div class="container grid">
	  <div class="col-md-12">
    	<div class="panel panel-default">
		  <div class="panel-heading">
			  <span class="icon-name ti-video-camera"></span>Duplicated video files
		  </div>
          <div class="panel-body">
			{% if videos|length == 0 %}
			  <center>There are no duplicated files found for videos</center>
			{% else %}
			<table class="table table-condensed table-striped">
				<thead>
					<tr>
						<th width="22%">Name</th>
						<th width="22%">Size (MB)</th>
						<th width="22%">Type</th>
						<th width="22%">#Duplicates</th>
						<th width="12%"></th>
					</tr>
				</thead>
				<tbody>
				    {% for file_checksum, files in videos.items %}
					<tr data-toggle="collapse" data-target="#{{ file_checksum }}" class="accordion-toggle">
						<td>{{ files.0.name }}</td>
					  	<td class="align-middle">{{ files.0.size }}</td>
					  	<td class="align-middle">{{ files.0.mime_type }}</td>
						<td class="align-middle">{{ files|length }}</td>
					  	<td class="align-middle">
                            <button type="button" class="btn btn-primary" id="view_{{ file_checksum }}" onclick="view('{{ file_checksum }}')">View</button>
					  	</td>
					</tr>

					<tr>
						<td colspan="12" class="hiddenRow">
							<div class="accordian-body collapse" id="{{ file_checksum }}">
						  		<table class="table table-striped">
									<thead>
										<tr>
                                            <th width="15%">Name</th>
                                            <th width="15%">Size (MB)</th>
                                            <th width="30%">Path</th>
                                            <th width="15%">Create Date</th>
                                            <th width="15%">Modified Date</th>
                                            <th width="10%"></th>
                                        </tr>
									</thead>
									<tbody>
									    {% for file in files %}
										<tr data-toggle="collapse"  class="accordion-toggle" data-target="#demo10">
											<div class="class_{{ file_checksum }}" style="display: none;">{{ file.file_id }}</div>
                                            <td>{{ file.name }}</td>
											<td class="align-middle">{{ file.size }}</td>
											<td class="align-middle"><div id="path_{{ file.file_id }}"></div></td>
                                            <td class="align-middle">{{ file.create_date }}</td>
					  						<td class="align-middle">{{ file.modified_date }}</td>
											<td class="align-middle">
												<form style="margin-bottom: 0;" method="post" action="{% url 'delete' file_id=file.file_id %}" name="{{file.file_id}}">
													{% csrf_token %}
													<button type="button" class="btn btn-danger confirm-delete" data-toggle="modal" data-target="#confirmDeleteModal" file="{{file.file_id}}" title='{{file.name}}'>Delete</button>
												</form>
											</td>
										</tr>
									    {% endfor %}
									</tbody>
								</table>
              				</div>
          				</td>
        			</tr>
				    {% endfor %}
			  </tbody>
			</table>
			{% endif %}
		  </div>
		</div>
	  </div>
	</div>
	{% endif %}

	{% if images_grid == 1 %}
    	<div class="container grid">
	  <div class="col-md-12">
    	<div class="panel panel-default">
		  <div class="panel-heading">
			  <span class="icon-name ti-image"></span>Duplicated image files
		  </div>
          <div class="panel-body">
			{% if images|length == 0 %}
			  <center>There are no duplicated files found for images</center>
			{% else %}
			<table class="table table-condensed table-striped">
				<thead>
					<tr>
						<th width="22%">Name</th>
						<th width="22%">Size (MB)</th>
						<th width="22%">Type</th>
						<th width="22%">#Duplicates</th>
						<th width="12%"></th>
					</tr>
				</thead>

				<tbody>
				    {% for file_checksum, files in images.items %}
					<tr data-toggle="collapse" data-target="#{{ file_checksum }}" class="accordion-toggle">
						<td>{{ files.0.name }}</td>
					  	<td class="align-middle">{{ files.0.size }}</td>
					  	<td class="align-middle">{{ files.0.mime_type }}</td>
						<td class="align-middle">{{ files|length }}</td>
					  	<td class="align-middle">
                            <button type="button" class="btn btn-primary" id="view_{{ file_checksum }}" onclick="view('{{ file_checksum }}')">View</button>
					  	</td>
					</tr>

					<tr>
						<td colspan="12" class="hiddenRow">
							<div class="accordian-body collapse" id="{{ file_checksum }}">
						  		<table class="table table-striped">
									<thead>
										<tr>
                                            <th width="15%">Name</th>
                                            <th width="15%">Size (MB)</th>
                                            <th width="30%">Path</th>
                                            <th width="15%">Create Date</th>
                                            <th width="15%">Modified Date</th>
                                            <th width="10%"></th>
                                        </tr>
									</thead>
									<tbody>
									    {% for file in files %}
										<tr data-toggle="collapse"  class="accordion-toggle" data-target="#demo10">
											<div class="class_{{ file_checksum }}" style="display: none;">{{ file.file_id }}</div>
                                            <td>{{ file.name }}</td>
											<td class="align-middle">{{ file.size }}</td>
											<td class="align-middle"><div id="path_{{ file.file_id }}"></div></td>
                                            <td class="align-middle">{{ file.create_date }}</td>
					  						<td class="align-middle">{{ file.modified_date }}</td>
											<td class="align-middle">
												<form style="margin-bottom: 0;" method="post" action="{% url 'delete' file_id=file.file_id %}" name="{{file.file_id}}">
													{% csrf_token %}
													<button type="button" class="btn btn-danger confirm-delete" data-toggle="modal" data-target="#confirmDeleteModal" file="{{file.file_id}}" title='{{file.name}}'>Delete</button>
												</form>
											</td>
										</tr>
									    {% endfor %}
									</tbody>
								</table>
              				</div>
          				</td>
        			</tr>
				    {% endfor %}
			  </tbody>
			</table>
			{% endif %}
		  </div>
		</div>
	  </div>
	</div>
	{% endif %}

	{% if pdfs_grid == 1 %}
		<div class="container grid">
		  <div class="col-md-12">
			<div class="panel panel-default">
			  <div class="panel-heading">
				  <span class="icon-name ti-files"></span>duplicated Pdf files
			  </div>
			  <div class="panel-body">
				{% if pdfs|length == 0 %}
				  <center>There are no duplicated files found for pdfs</center>
				{% else %}
				<table class="table table-condensed table-striped">
					<thead>
						<tr>
							<th width="22%">Name</th>
							<th width="22%">Size (MB)</th>
							<th width="22%">Type</th>
							<th width="22%">#Duplicates</th>
							<th width="12%"></th>
						</tr>
					</thead>

					<tbody>
						{% for file_checksum, files in pdfs.items %}
						<tr data-toggle="collapse" data-target="#{{ file_checksum }}" class="accordion-toggle">
							<td>{{ files.0.name }}</td>
							<td class="align-middle">{{ files.0.size }}</td>
							<td class="align-middle">{{ files.0.mime_type }}</td>
							<td class="align-middle">{{ files|length }}</td>
							<td class="align-middle">
								<button type="button" class="btn btn-primary" id="view_{{ file_checksum }}" onclick="view('{{ file_checksum }}')">View</button>
							</td>
						</tr>

						<tr>
							<td colspan="12" class="hiddenRow">
								<div class="accordian-body collapse" id="{{ file_checksum }}">
									<table class="table table-striped">
										<thead>
											<tr>
												<th width="15%">Name</th>
												<th width="15%">Size (MB)</th>
												<th width="30%">Path</th>
												<th width="15%">Create Date</th>
												<th width="15%">Modified Date</th>
												<th width="10%"></th>
											</tr>
										</thead>
										<tbody>
											{% for file in files %}
											<tr data-toggle="collapse"  class="accordion-toggle" data-target="#demo10">
												<div class="class_{{ file_checksum }}" style="display: none;">{{ file.file_id }}</div>
                                                <td>{{ file.name }}</td>
												<td class="align-middle">{{ file.size }}</td>
												<td class="align-middle"><div id="path_{{ file.file_id }}"></div></td>
												<td class="align-middle">{{ file.create_date }}</td>
												<td class="align-middle">{{ file.modified_date }}</td>
												<td class="align-middle">
													<form style="margin-bottom: 0;" method="post" action="{% url 'delete' file_id=file.file_id %}" name="{{file.file_id}}">
														{% csrf_token %}
														<button type="button" class="btn btn-danger confirm-delete" data-toggle="modal" data-target="#confirmDeleteModal" file="{{file.file_id}}" title='{{file.name}}'>Delete</button>
													</form>
												</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</td>
						</tr>
						{% endfor %}
				  </tbody>
				</table>
				{% endif %}
			  </div>
			</div>
		  </div>
		</div>
	{% endif %}

	<footer id="footer" class="page-footer font-small blue">

	  <!-- Copyright -->
	  <div class="footer-copyright text-center py-3">© 2022 All rights reserved -
		<a href="{% url 'imprint' %}"> imprint </a>
	  </div>
	  <!-- Copyright -->
	</footer>
  </body>
</html>
{% include "confirm_modal.html" %}

<script>
	$('#optimizeBtn').click(function() {
	  $('#spinnerDiv').show();
	});

    function view(checksum) {
      var class_name = '.class_##'.replace('##', checksum);
	  $(class_name).each(function(i, obj) {
        var file_id = obj.innerHTML
        var path = '{% url "path" file_id=0 %}'.replace('0', file_id);
        $.ajax({
            url: path,
            success: function (data) {
                $("#pdfsFilePath").text(data);
                var path_div = '#path_##'.replace('##', file_id);
                $(path_div).text(data);
            }
        });
      });
	}

	// Script for the scroll to the top button
	var mybutton = document.getElementById("topBtn");
	
	// When the user scrolls down 20px from the top of the document, show the button
	window.onscroll = function() {scrollFunction()};
	
	function scrollFunction() {
	  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
		mybutton.style.display = "block";
	  } else {
		mybutton.style.display = "none";
	  }
	}
	
	// When the user clicks on the button, scroll to the top of the document
	function topFunction() {
	  document.body.scrollTop = 0;
	  document.documentElement.scrollTop = 0;
	}
</script>